{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href={% static "display/css/bootstrap.min.css" %}>
    
    <link rel="stylesheet" href={% static "display/css/tooplate-style.css" %}>
    <link rel="stylesheet" href={% static "display/css/aboutus_style.css" %}>
    <title>About Us</title>
</head>

<body>
<div class="topnav" id="myTopnav">
<a class="active" href="{% url 'home' %}"><i class="fa fa-home"></i>Home</a>
  <a class="active" href="{% url 'rental' %}">Hostel/PG</a>
<a class="active" href="{% url 'tiffin' %}">Tiffin Services</a>
  <a class="active" href="{% url 'misc' %}">Miscellaneous</a>
  <div  class="topnav-right">
     {% if user.is_authenticated %}
            <div class="login">
                <a href="{% url 'logout' %}"><i class="fa fa-fw fa-user"></i>logout</a>
            </div>
            {%else%}
            <div class="login">
                <a href="{% url 'login' %}"><i class="fa fa-fw fa-user"></i>login</a>
            </div>
            {%endif%}
    </div>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
    <div class="tm-container mx-auto">
        <section class="tm-section tm-section-1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tm-bg-circle-white tm-flex-center-v">
                            <header class="text-center">
                                <h1 class="tm-site-title">About Us</h1>
                           </header>
                            <p>Being a student ourselves,Our team strongly believes that every student leaving their hometown in pursuit of their dreams deserves the comfort ,choice and easy access of all the basic essentials they need while moving to a new city.</p>
                            <p class="text-center mt-4 mb-0">
                                <a data-scroll href="#tm-section-2" class="btn tm-btn-secondary">Continue...</a>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </section>  
        <section id="tm-section-2" class="tm-section pt-2 pb-2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 tm-flex-center-v tm-text-container tm-section-left">
                        <h2 class="tm-color-secondary mb-4">Our Goal</h2>
                        <p class="mb-4">With this vision in our mind we aim at providing you the most budget friendly yet amazing Hostels/PG , Tiffin Services, laundry Services and much more all at one place !</p>
                        <p class="mb-5"></p>
                        
                    </div>
                    <div class="col-xl-7 col-lg-6 tm-circle-img-container">
                        <img src="{% static 'display/img/1.jpg' %}" alt="Image" class="rounded-circle tm-circle-img">
                    </div>
                </div>
            </div>
        </section>
        
    </div>
    <script src={% static "display/smooth-scroll.polyfills.min.js" %}></script>
    <script>
        var scroll = new SmoothScroll('a[href*="#"]', {
            easing: 'easeInOutQuart',
            speed: 800
        });
    </script>
    <!--js for navbar-->
     <script>
    function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav" || x.className === "topnav-right") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
    </script>
</body>
</html>