{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={% static "display/css/style.css" %}> 
     <link rel="stylesheet" href={% static "display/css/indexnavbar.css" %}>  
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <title>Home Page</title>
</head>
<body >
    <!-- Import typed.min.js file from typed.js folder -->
    <script src= {% static 'display/typed.js-master/lib/typed.min.js'%}></script>
    </script>
<!--img src="{% static 'display/img/logoicon.png'%}" height="70" width="70" alt=""-->
<div class="topnav" id="myTopnav">
<a class="active" href="{% url 'home' %}"><i class="fa fa-home" style="vertical-align: middle;"></i>&nbsp;Home</a>
  <a href="#1" >Services</a>
  <a href="aboutus">About us</a>
  <a href="#2"><i class="fa fa-fw fa-envelope" style="vertical-align: middle;"></i>&nbsp;Contact</a>
  <div  class="topnav-right">
     {% if user.is_authenticated %}
            <div class="login">
                <a href="logout"><i class="fa fa-fw fa-user" style="vertical-align: middle;"></i>&nbsp;logout</a>
            </div>
            {%else%}
            <div class="login">
                <a href="login"><i class="fa fa-fw fa-user" style="vertical-align: middle;"></i>&nbsp;login</a>
            </div>
            {%endif%}
    </div>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>  
            <div class="hero">
            <div class="brandname">
                <h1>
                    FROSHMORE
                </h1> <br>
                {% if user.is_authenticated %}
                <h3>
                   Hello! {{user.username }} 
                </h3> 
                {%endif%}
                <h3>
                    <span class="text-slider-items">
                        We are here for your Roti Kapda and Makaan 
                    </span>
                    <strong class="text-slider"></strong>
                </h3>
            </div>  
    </div>
    <div class="our_services">
        <h1>
          <a id="1">  Our services  </a>
        </h1>
        <br>
        <div class="services">
            
            <div class="rental">
                <a href="{% url 'rental' %}"> 
                    
                    
            <img src="{% static 'display/img/rental.png'%}" alt="">
                
                <h1>
                    Rental
                </h1>
                <h3>
                    One stop destination to find all nearby hostels and pg.
                </h3>
            </a>
            </div>
            <div class="tiffin">
                
                <a href="{% url 'tiffin' %}">            
                <img src="{% static 'display/img/tiffin.png'%}" alt="">
                <h1>Tiffin</h1>
                <h3>
                    Amazing tiffin services to make you feel close to your "Ghar ka khana"
                </h3>
                </a>
            </div>
            <div class="misc">
                <a href="{% url 'misc' %}"> 
                <img src="{% static 'display/img/misc.png'%}" alt="">
                <h1>Miscellaneous</h1>
                <h3>
                    Some other Services awaiting .. click to view
                </h3>
                </a>
            </div>
        </div>
    </div>
   
    <div class="contact_us" >
        
        <h1>
            <a id="2"> Have any query or any suggestions? </a>
        </h1>
        <br>
        <h3>
            Feel Free to contact us
        </h3>
        <div class="container">
            <div class="contact-box">
                <h2>Contact Us</h2>
                <form method="POST" action="{% url 'home' %}">
                {% csrf_token %}
				
				<input type="text" id="name" name="name" class="field" placeholder="Your Name">
                <label for="name"></label>
				<input type="email" id="email" name="email" class="field" placeholder="Your Email">
                <label for="email"></label>
				<input type="phone" id="phone" name="phone" class="field" placeholder="Phone">
                <label for="phone"></label>
				<textarea placeholder="Message" id="message" name="message" class="field"></textarea>
                <label for="message"></label>
				<button type="submit" class="btn">Send</button>
                {% if error_con %}
                <div class = "alert alert-danger" role= "alert">
                    <h3 style ="color : red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ error_con }}!!</h3>
                </div>
                {% endif %}
                {% for message in messages %}
                <div class="alert alert-success">
                    <h3 style="color: blue">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}</h3> 
                </div>
                {% endfor %}
                </form>
                
		    </div>
        </div>
    </div>

    <div class="footer">
        
            Made by <a href="https://github.com/Neeraj-2307" target="_blank">&nbsp;&nbsp;Neeraj Joshi</a>
            <a href="https://github.com/Pragati-64" target="_blank">&nbsp;&nbsp;Pragati Gupta</a>
            <a href="https://github.com/anjalirajj" target="_blank">&nbsp;&nbsp;Anjali Raj</a>
            <a href="https://github.com/aparnasingh26" target="_blank">&nbsp;&nbsp;Aparna Singh</a>
        
    </div>

      
    <!-- Add jquery cdn -->
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
  
    <!-- Add this script for successful 
        implementation of typed.js  -->
    <script>
        if ($(".text-slider").length == 1) {
              
            var typed_strings = 
                $(".text-slider-items").text();
  
            var typed = new Typed(".text-slider", {
                strings: typed_strings.split(", "),
                typeSpeed: 50,
                loop: true,
                backDelay: 900,
                backSpeed: 30,
            });
        }
    </script>


<!-- added the following script to avoid the reloading problem -->

    <script>
        if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
        }
    </script>
    <!--js for navbar-->
     <script>
    function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav" || x.className === "topnav-right") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
    </script>
</body>
</html>